<div class="flex flex-col h-full items-center justify-center">
  <div class="card w-full md:w-250 visualizar-solicitacao-card">

    <div class="flex align-items-center justify-content-between mb-4">
      <p-button label="Voltar para Solicitações" (onClick)="voltar()" icon="pi pi-arrow-left" variant="text" severity="secondary"></p-button>
    </div>

    @if (!request) {
      <div class="flex flex-col gap-4 w-full">
        <p-skeleton width="40%" height="1.5rem" class="mb-4"></p-skeleton>
        <p-skeleton width="70%" height="3rem"></p-skeleton>
        <p-skeleton width="50%" height="1.5rem"></p-skeleton>
        <div class="flex justify-start items-center gap-5 mt-6">
            <p-skeleton width="20%" height="4rem"></p-skeleton>
            <p-skeleton width="20%" height="4rem"></p-skeleton>
        </div>
        <p-skeleton width="100%" height="10rem" class="mt-10"></p-skeleton>
        <p-skeleton width="40%" height="1.5rem" class="mt-8 mb-4"></p-skeleton>
      </div>
    }

    @else {
        <div class="font-semibold text-xl mb-6">Detalhes da Solicitação</div>
        <div class="font-bold block text-5xl mb-4">{{ request.descEquipamento }}</div>
        <div class="block font-light text-xl mb-8">
            Solicitado em {{ request.dataInicio | date:'dd/MM/yyyy' }}
            às {{ request.dataInicio | date:'HH:mm:ss' }} | ID: {{ requestId }}
        </div>

        <div class="flex justify-start items-center gap-20 mb-12">
            <div>
            <div class="text-xl font-semibold mb-2">Status</div>
            <p-tag class="big-tag"
                [icon]="requestService.getIcon(request.status || '')"
                [value]="request.status"
                [class]="requestService.getTagClass(request.status || '')">
            </p-tag>
            </div>
            <div>
            <div class="text-xl font-semibold mb-2">Categoria</div>
            <div class="text-xl block">{{ request.categoriaEquipamento.nome }}</div>
            </div>
        </div>

        <div class="mb-12">
            <div class="text-xl font-semibold mb-4">Descrição do Problema</div>
            <div class="block text-xl rounded-border border border-surface p-4">{{ request.descDefeito }}</div>
        </div>

        <div class="mb-16">
            @if (request.status === 'ORCADA') {
            <p-button label="Aprovar/Rejeitar Orçamento"
                (onClick)="router.navigate(['/cliente/solicitacoes', request.id, 'orcamento'], { state: { fromList: true } })"
                size="large" fluid="true" icon="pi pi-check-square" />
            }
            @else if (request.status === 'REJEITADA') {    
            <p-button label="Resgatar" (onClick)="onRescue()" size="large" fluid="true" icon="pi pi-reply" />
            }
            @else if (request.status === 'ARRUMADA') {    
            <p-button label="Pagar" size="large" fluid="true"
                (onClick)="router.navigate(['/cliente/solicitacoes', request.id, 'pagar'], { state: { fromList: true } })"
                icon="pi pi-dollar" />
            }
        </div>
        
        <div class="font-semibold text-xl mb-4">Histórico</div>
    }

    @if (!events) {
        <div class="flex flex-col gap-4">
        <p-skeleton width="100%" height="8rem"></p-skeleton>
        <p-skeleton width="100%" height="8rem"></p-skeleton>
        <p-skeleton width="100%" height="8rem"></p-skeleton>
        </div>
    }
    @else {
        <p-timeline [value]="events" align="alternate" class="customized-timeline">
        <ng-template pTemplate="marker" let-event>
            <span class="flex w-8 h-8 items-center justify-center text-white rounded-full z-10 shadow-sm"
            [ngClass]="requestService.getTagClass(event.statusAtual)">
            <i [class]="requestService.getIcon(event.statusAtual)"></i>
            </span>
        </ng-template>

        <ng-template pTemplate="content" let-event>
            <p-card [header]="event.statusAtual"
                    [subheader]="(event.datahora | date:'dd/MM/yyyy HH:mm:ss') ?? undefined"
                    class="rounded-border border border-surface">
            <p>{{ getHistoryDesc(event, request) }}</p>
            </p-card>
        </ng-template>
        </p-timeline>
    }
    </div>
</div>